.main-footer {
    color: #fff;
  }
  
  .footer-section {
    margin-bottom: 40px; 
  }
  
  .quick-links-list,
  .customer-area-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .quick-links-list a,
  .customer-area-list a {
    color: #ccc; 
    text-decoration: none;
  }
  
  .quick-links-list a:hover,
  .customer-area-list a:hover {
    text-decoration: underline;
  }
  
  .social-icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; 
  }
  
  .social-icons button:not(:last-child) {
    margin-right: 15px; 
  }
  

  .download-app button {
    margin-top: 10px;
    width:150px;
  }
  
  .btn {
    border-radius: 5px; /* Add rounded corners to buttons */
  }
  
  .btn-outline-light {
    color: #fff;
    border-color: #fff;
  }
  
  .btn-outline-light:hover {
    background-color: #fff; /* Change background on hover */
    color: #333; /* Change text color on hover */
  }
  
  .btn-google {
    background-color: #4285f4;
    border-color: #4285f4;
  }
  
  .btn-google:hover {
    background-color: #1a73e8;
    border-color: #1a73e8;
  }