.carousel-background {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px; 
    width:100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .carousel-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
     
  }

  .products-text{
    textShadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letterSpacing: 2px;
    fontFamily: Arial, sans-serif;
    fontSize: 2.5rem;
  }



  .smartphone-deals-container {
    overflow: hidden; 
  }
  
  .smartphone-deals {
    display: flex;
    animation: slide-in 1s ease-out; 
  }
  
  .smartphone-deal {
    border: 2px solid white;
    margin-right: 15px; 
  }
  
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%); 
    }
    to {
      transform: translateX(0);
    }
  }
  
  
  
