.product-image {
  transition: transform 0.5s ease-in-out;
}
.product-image:hover {
  transform: scale(1.00);
}
.heart-icon:hover{
  background-color: pink; 
  border-radius: 50%;
  box-shadow: 0 0 0 7px pink;
  
}
.image-container {
  position: relative;
  display: inline-block;
}
.heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  font-size:20px;
  margin-top: 10px;
  margin-top: 10px;

 }