/* ResetPasswordScreen.css */

.reset-password-container {
    background: linear-gradient(90deg, #fff, #ccc, #fff); /* Gradient from white to gray to black */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-password-content {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  

  